<div class="jumbotron text-center">
  <h1>{{ headerMessage }}</h1>

  <div class="form-horizontal form-group form-group-lg row">
    <div class="row col-md-12">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
        {{input type="email"
          value=model.email
          class="form-control"
          placeholder="Please type your e-mail address."
          autofocus="autofocus"}}
      </div>
    </div>

    <div class="row col-md-12">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
        {{textarea
          value=model.message
          class="form-control"
          placeholder="YOur message. (At least 5 characters.)"
          rows="7"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-4  col-md-3">
      <button disabled={{model.isDisabled}}
              {{action 'saveDetails'  model}}
              class="btn btn-primary btn-lg btn-block">Save</button>
    </div>
  </div>

  {{#if responseMessage}}
  <br/>
      <div class="alert alert-success">
          <h4>Thank you! Your message is sent.</h4>
          <p>To: {{savedModel.email}}</p>
          <p>Message: {{savedModel.message}}</p>
          <p>Reference ID: {{savedModel.id}}</p>
      </div>
  {{/if}}

  <br/><br/>
</div>